.search-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.search-bar form {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1.6rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin-top: 1rem;
}

.search-bar form input {
	border: 0;
	outline: 0;
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 0.6rem;
	font-weight: 400;
	background-color: #ececec;
	transition: 0.3s ease all;
}

.search-bar form input:active,
.search-bar form input:focus {
	background-color: #fff;
}
